.cond-list {
    margin-top: 0px;
    margin-left: -150px;
}

.req {
    list-style: none;
    display: flex;
    gap: 10px;
    color: rgba(255, 255, 255, 0.7);
    align-items: center;
}

.ok {
    color: var(--green);
}