.fox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.message {
    margin-left: 90px;
    font-size: 20px;
    font-family: 'Overpass Mono', monospace;
    color: var(--pale-yellow);
    width: 300px;
    text-align: center;
}

.fox-character {
    height: 250px;
    width: 250px;
    z-index: 1;
}

.shadow {
    height: 80px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: -80px;
    z-index: 0;
    filter: blur(10px);
}